* {box-sizing: border-box;}
body{margin: 0; padding: 0;}

/*** only mobile 1-425px***/ 
@media(min-width:1px) {
    
    .block-type-4-container-one {
        background-color: gold;
        justify-self: center;
    }
    .block-type-4-container-two {
        background-color: orangered;
        justify-self: center;
    }
}



/*** mobile 426-767px***/ 
@media(min-width:426px) {}


/*** tablet => sm  768-991***/ 
@media(min-width:768px) {}
    

/*** laptop => md 992-1199***/ 
@media(min-width:992px) {}
    
/*** desktop => lg 1200***/ 
@media(min-width:1200px) {}

