* {box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
}

/*** only mobile 1-425px***/ 
@media(min-width:1px) {
    .header-image :first-child{
        width: 100%;
        margin-top:64px;
    }

    .header-background-image {
        background-image: url("../../../public/images/slide-2.jpg");
        color: #ffffff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        height: 500px;

        div {
            padding-left: 50px;
        }
        .header-title {
            font-size: 80px;
            line-height: 0.8;
            font-weight: bold;
        }
        .header-description
        {font-size: 35px;}
    }
 
}

/*** mobile 426-767px***/ 
@media(min-width:426px) {
    
}

/*** tablet => sm  768-991***/ 
@media(min-width:768px) {

}

/*** laptop => md 992-1199***/ 
@media(min-width:992px) {
    .header-image :first-child{
        margin-top:94px;
    }
    
}

/*** desktop => lg 1200***/ 
@media(min-width:1200px) {

}

