* {box-sizing: border-box;}
body{margin: 0; padding: 0;}

/*** only mobile 1-425px***/ 
@media(min-width:1px) {

    .block-type-1-container {
        width: 100%;
        display: grid;
        justify-content: center;
        background-color: #e5e5e5;

        grid-template-areas: 
        "block-type-1-container-title"
        "block-type-1-container-one"
        "block-type-1-container-two";

        gap: 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .block-type-1-container-title {
        grid-area: block-type-1-container-title;
        justify-self: center;
        font-size: 45px;
        font-weight: bold;
    }
    .block-type-1-container-one {
        grid-area: block-type-1-container-one;
        justify-self: center;
        width: 75%;
    }
    .block-type-1-container-two {
        grid-area: block-type-1-container-two;
        padding-left: 3%;
        padding-right: 3%;
    }
}



/*** mobile 426-767px***/ 
@media(min-width:426px) {}


/*** tablet => sm  768-991***/ 
@media(min-width:768px) {

    .block-type-1-container {

        grid-template-areas: 
        "block-type-1-container-title block-type-1-container-title"
        "block-type-1-container-one block-type-1-container-two";

        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
    

/*** laptop => md 992-1199***/ 
@media(min-width:992px) {}
    
/*** desktop => lg 1200***/ 
@media(min-width:1200px) {}

